---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				My default activity in the world is learning, observing and experimenting: skills, facts, language, people, software, organizations and so on. 
				
			</p>

			<p>My current obsessions:</p>
			<ul>
				<li>Contract work for dynamic brick and mortar small businesses near where I live.</li>
				<li>Re-doing <i>MATH 4020: linear algebra</i> and understanding it this time.</li>
				<li>Creating a nano-bnb for my friends from abroad and out of state to experience America and New York City affordably.</li>
				<li>Book club.</li>
				<li>Getting drinks with friends at <a href = "https://syndicatedbk.com/">syndicated bar</a>, coffees at <a href = "https://www.nookbk.com/">nook</a>
				<li>Rock Climbing at <a href = "https://www.gp-81.com/">gp-81</a></li>
				<li>Interviewing for senior data engineering, full-stack and backend roles at <question>YOUR<question> company. <a href = "https://www.linkedin.com/in/lucien-christie-dervaux-690bb467/">linkedin</a>. <a href = "/lucienmostmostrecentresume.pdf" download="lucienresume.pdf"> resume</a>.</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
